[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
Flask-Cors = "*"


[requires]

python_version = "3.6"


[dev-packages]

"flake8" = "*"
jedi = "*"
rope = "*"
pycodestyle = "*"
